<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The data from the CSK application</h1>
    <h1>{{ name }}</h1>
    <h1>{{ age }}</h1>
    <H1 style="color: white;">{{TEAM}}</H1>
</body>
</html>
<style>
    *
    {
        margin: 0%;
    }
    body
    {
        background:linear-gradient(to right, rgb(3, 255, 15),red,blue);
    }
    h1
    {
        color: rgb(238, 141, 141);
        background: linear-gradient(60deg,rgb(135, 26, 26),rgb(98, 98, 18),rgb(13, 96, 129));
        text-align: center;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 50px;
        font-style: italic;
    }
</style>