<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This Data from the RCB application</h1>
   <h1>{{ name }}</h1> 
   <h1>{{ age }}</h1> 
   <h1>{{team}}</h1>
</body>
</html>
<style>
    *
    {
        margin: 0%;
    }
    body
    {
        background: linear-gradient(to right,rgb(7, 255, 234),rgb(50, 248, 0),rgb(50, 9, 255));
    }
    h1
    {
        color: rgb(238, 220, 220);
        background: linear-gradient(60deg,rgb(7, 255, 234),rgb(248, 0, 54),rgb(50, 9, 255));
        text-align: center;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 50px;
        font-style: italic;
    }
</style>